html,
body {
	padding: 0;
	margin: 0;
	font-family: eb-garamond, serif;
	font-weight: 400;
	font-style: normal;
	color: #b3c43e;
	background: #1d1314;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.dropzone {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	background: #251609;
	border: 3px dashed #eeeed2;
	cursor: pointer;
  margin: 50px 0;
}

.dropzone:focus,
.dropzone:active {
	outline: 0;
  -moz-outline-style: none;
	border: 3px solid #b3c43e;
}

.dropzone.active {
	color: white;
	background: -webkit-repeating-radial-gradient(
		center,
		40px 40px,
		#1d1314,
		#4f5a07 50%,
		#b3c43e
	);
	background: -moz-repeating-radial-gradient(
		center,
		40px 40px,
		#1d1314,
		#4f5a07 50%,
		#b3c43e
	);
	background: -ms-repeating-radial-gradient(
		center,
		40px 40px,
		#1d1314,
		#4f5a07 50%,
		#b3c43e
	);
	background: -o-repeating-radial-gradient(
		center,
		40px 40px,
		#1d1314,
		#4f5a07 50%,
		#b3c43e
	);
	background: repeating-radial-gradient(
		40px circle,
		#1d1314,
		#4f5a07 50%,
		#b3c43e
	);
}

.flex {
	display: flex;
}

.flex > div:first-child {
	width: 40%;
}

.flex > div {
	width: 60%;
}

.flex > div {
	height: auto;
	min-height: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.buttons button {
  height: 36px;
  border-radius: 0;
  border: 0;
  font-family: eb-garamond, serif;
  font-weight: 500;
  flex-grow: 1;
  margin-right: 20px;
  background-color: #ddff02;
  color: #535f01;
}

.buttons button:disabled {
  background-color: #251609 !important;
  color: #535f01 !important;
}

.buttons button:last-child {
  margin-right: 0;
}

.buttons button:focus,
.buttons button:active {
  outline: 0;
  -moz-outline-style: none;
  border: 3px dashed #251609;
}